.timer p,
.timer h2 {
  margin: 0;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.buttons {
  display: flex;
  gap: 10px;
}
